<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.frontpi4">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="Login"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.MainActivity" />
        </activity>

                                <!--Activities tela principal INICIO-->
        <activity
            android:name=".activities.TelaPrincipalActivity"
            android:label="@string/texto_logo_empresa"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.LoginActivity" />
        </activity>

        <activity
            android:name=".activities.CadastroPedidoDeVendaActivity"
            android:label="@string/pedido_venda"
            android:parentActivityName=".activities.TelaPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.TelaPrincipalActivity" />
        </activity>

        <activity
            android:name=".activities.CadastroPedidoDeCompraActivity"
            android:label="@string/pedido_compra"
            android:parentActivityName=".activities.TelaPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.TelaPrincipalActivity" />
        </activity>

        <activity
            android:name=".activities.ConferenciaDeSaidaActivity"
            android:label="@string/conf_saida"
            android:parentActivityName=".activities.TelaPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.TelaPrincipalActivity" />
        </activity>

        <activity
            android:name=".activities.ConferenciaDeEntradaActivity"
            android:label="@string/conf_entrada"
            android:parentActivityName=".activities.TelaPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.TelaPrincipalActivity" />
        </activity>

        <activity
            android:name=".activities.FornecedoresActivity"
            android:label="@string/fornecedores"
            android:parentActivityName=".activities.TelaPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.TelaPrincipalActivity" />
        </activity>

        <activity
            android:name=".activities.ClientesActivity"
            android:label="@string/clientes"
            android:parentActivityName=".activities.TelaPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.TelaPrincipalActivity" />
        </activity>

        <activity
            android:name=".activities.ProdutosActivity"
            android:label="@string/produtos"
            android:parentActivityName=".activities.TelaPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.TelaPrincipalActivity" />
        </activity>
                                    <!--Activities tela principal FIM-->
                                        <!--OPCOES DO APPBAR INICIO-->
        <activity
            android:name=".activities.AlteracaoUsuarioActivity"
            android:label="@string/alterar_usuario"
            android:parentActivityName=".activities.TelaPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.TelaPrincipalActivity" />
        </activity>
        <activity
            android:name=".activities.ListaUsuariosActivity"
            android:label="@string/lista_usuarios"
            android:parentActivityName=".activities.TelaPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.TelaPrincipalActivity" />
        </activity>
        <activity
            android:name=".activities.CadastroDeUsuarioActivity"
            android:label="@string/cadastra_usuarios"
            android:parentActivityName=".activities.TelaPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.TelaPrincipalActivity" />
        </activity>
                                        <!--OPCOES DO APPBAR FIM-->
    </application>
</manifest>