<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frontpi4">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.frontpi4.activities.CadastroPedidoDeVendaActivity"></activity>
        <activity
            android:name="com.example.frontpi4.activities.AlteracaoUsuarioActivity"
            android:label="Alterar de usuário"
            android:parentActivityName="com.example.frontpi4.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.example.frontpi4.activities.ListaUsuariosActivity"
            android:label="Lista de usuários"
            android:parentActivityName="com.example.frontpi4.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.example.frontpi4.activities.LoginActivity"
            android:label="Login"
            android:parentActivityName="com.example.frontpi4.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.example.frontpi4.activities.CadastroDeUsuarioActivity"
            android:label="Cadastro de usuário"
            android:parentActivityName="com.example.frontpi4.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.frontpi4.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.example.frontpi4.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>